# Force R as the primary language
*.R linguist-language=R
*.Rmd linguist-language=RMarkdown

# Ignore auxiliary files from language detection
*.html linguist-vendored
*.csv linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.md linguist-documentation

